@model IEnumerable<DataAccessLayer.Model.Book>

@{
    ViewData["Title"] = "Index";
}

<h2>Books</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
<tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Books", new {id = item.Id})">Edit</a> |
                <a href="@Url.Action("Delete", "Books", new {id = item.Id})">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
